{% extends 'base.html' %} <title>{% block title %}Mindful Mentality{% endblock %}</title>
{% block content %}
<h1 style ="font-family:Georgia, 'Times New Roman', Times, serif">Welcome To Mindful Mentality!</h1>
<h2 style ="font-family:Georgia, 'Times New Roman', Times, serif">We hope that you have a great day every day.</h2>
<p style ="font-family:Georgia, 'Times New Roman', Times, serif">Our goal is to help everyone take steps towards improving their mental health and feel good about themselves!</p>
<h3 style = "font-family:Georgia, 'Times New Roman', Times, serif">Ways to Improve Your Mental Health Right Now:</h3>
<ul>
    <li>follow this deep breathing routine: inhale for 5 seconds, hold for 5 seconds, exhale for 5 seconds</li>
    <li>meditate on what you want to achieve today</li>
    <li>trace your fingers, breathe in going up and breathe out going down</li>
    <li>find a picture that encapsulates one of your dreams</li>
    <li>talk to a loved one</li>
    <li>take a picture of something that makes you happy</li>
</ul>  
<img src="https://i.ibb.co/HN4jgHN/Mindful-Mentality.jpg">
<p style ="font-family:Georgia, 'Times New Roman', Times, serif"> 24/7 emergency phone numbers</p>
<ul>
    <li>suicide prevention: 988</li>
    <li>substance use disorder: 703-746-3636</li>
    <li>domestic violence: 703-746-4911</li>
    <li>emergency mental health services: 703-746-3401</li>
    <li>child protective services: 703-746-5800</li>
    <
</ul>
{% endblock %}